body {
    
    padding:100px 0px;
}
h1{
text-align:center;
color:blue;
}


.signup_form ,.login_form{
    width:500px;
    margin-top:300px;
    margin:0 auto;
    border:1px solid blue;
    padding:50px 50px;
}
.signup_form input,.login_form input {
    width:80%;
    margin:10px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    padding:6px;
}
.signup_form input:nth-of-type(4),.login_form input:nth-of-type(3){
    background:blue;
    color:white;
}
input.ng-invalid.ng-touched {
    border-color:red;
}
a {
    cursor:pointer;
}
