.signup_form {
    margin:10px auto;
    width:600px;
    border:1px solid blue;
    padding:40px;
}
.login_form {
    margin:10px auto;
    width:600px;
    border:1px solid blue;
    padding:40px;
}
.signup_form,.login_form a {
    text-decoration: underline;
    color:blue;
    cursor:pointer;
}
.signup_form input.ng-invalid.ng-touched ,.login_form input.ng-invalid.ng-touched{
    border-color:red;
}
